<div class="p-4">

  <h2 class="text-xl font-bold mb-4">Agendar Reunião</h2>

  <!-- Calendário -->
   <label class="font-bold">Selecione dia e horário</label>
   <div>
  <app-calendar-component
    (onSelectDate)="dataSelecionada = $event">
  </app-calendar-component>
</div>
  <!-- Seletor de usuários -->
  <div class="mt-4">
    <div class="mt-4">
        <label class="font-bold">Selecione os participantes</label>

        <div *ngIf="isLoadingUsuarios" class="flex justify-center my-3">
            <p-progress-spinner styleClass="w-8 h-8"></p-progress-spinner>
        </div>
        <div>
        <p-multiselect
            *ngIf="!isLoadingUsuarios"
            [options]="usuarios"
            [(ngModel)]="usuariosSelecionados"
            optionLabel="nome"
            placeholder="Escolher participantes"
            display="chip"
            class="w-64"
        />
        </div>
        </div>
  <!-- Botão -->
  <div class="mt-4">
    <p-button
      label="Marcar Reunião"
      icon="pi pi-calendar"
      (click)="abrirResumo()"
      [disabled]="!dataSelecionada || usuariosSelecionados.length === 0"
    />
  </div>

</div>

<!-- DIALOG -->
<p-dialog
  [(visible)]="displayResumo"
  modal="true"
  header="Resumo da Reunião"
  [style]="{ width: '450px' }">
  
  <div class="p-3">
    <h3 class="font-bold mb-2">📅 Data e horário</h3>
    <p>{{ dataSelecionada | date:'dd/MM/yyyy HH:mm' }}</p>

    <h3 class="font-bold mt-4 mb-2">👥 Participantes</h3>
    <ul class="list-disc ml-6">
      <li *ngFor="let u of usuariosSelecionados">{{ u.nome }}</li>
    </ul>

    <div class="mt-4 text-right">
      <p-button label="Confirmar" icon="pi pi-check" />
    </div>
  </div>

</p-dialog>
