
<p-button 
  (click)="showDialog()" 
  label="Importar Colaboradores" 
  icon="pi pi-upload"
/>

<p-dialog 
  header="Importar Planilha de Colaboradores (.xlsx)" 
  [modal]="true" 
  [(visible)]="visible" 
  [style]="{ width: '45rem' }"
>
  <p-fileupload 
    name="file" 
    [customUpload]="true"
    (uploadHandler)="onCustomUpload($event)"
    [multiple]="false" 
    accept=".xlsx" 
    maxFileSize="10000000" 
    mode="advanced"
    chooseLabel="Escolher Arquivo"
    uploadLabel="Importar"
    cancelLabel="Cancelar"
  >
    <ng-template pTemplate="empty">
      <div class="flex items-center justify-center flex-col p-8">
        <i class="pi pi-cloud-upload border-2 border-dashed rounded-full text-gray-400 text-4xl p-4"></i>
        <p class="mt-4 mb-0 text-gray-500">Arraste e solte o arquivo .xlsx aqui.</p>
      </div>
    </ng-template>
  </p-fileupload>
</p-dialog>