<p-toolbar
    [style]="{
        'background-color': '#181818',
        'color': 'white'
    }"
    class="toolbar-borda-unica"
>
    <p-button icon="pi pi-bars" (click)="visible = true" text severity="secondary" styleClass="text-white">
        <p-drawer
            [(visible)]="visible"
            [showCloseIcon]="true"
            [baseZIndex]="1000"
            [modal]="false"
            [style]="{ 'background-color': '#181818', 'width': '20rem', 'border': 'none', 'color': 'white' }"
            styleClass="p-0"
        >
            <div class="flex flex-col p-4 h-full text-white">
                
                <div class="mb-5 px-1 pt-2">
                    <img src="/ldp-positivo.png" alt="SENAI CIMATEC" class="w-11/12" />
                </div>

                @for (item of menuItemsVisiveis; track item.route) {
                    <a 
                        pRipple 
                        class="flex items-center cursor-pointer p-4 mb-2 rounded-lg duration-150 transition-colors"
                        (click)="selecionarPagina(item.route)" 
                        [ngClass]="{
                            'bg-[#C5CCD6] text-[#3A404C]': paginaAtiva === item.route,     
                            'text-[#7A8B9A] hover:bg-white/10': paginaAtiva !== item.route 
                        }"
                    >
                        <i 
                            [class]="'pi ' + item.icon + ' mr-3 text-2xl'"
                            [ngClass]="{ 'text-[#3A404C]': paginaAtiva === item.route, 'text-[#7A8B9A]': paginaAtiva !== item.route }">
                        </i>
                        <span class="font-bold text-base uppercase">{{ item.label }}</span>
                    </a>
                }
                
            </div>
        </p-drawer>
    </p-button>

    <ng-template #center>
        <img
         src="/LDP POSITIVO.png" 
         (click)="backToHome()" 
         alt="SENAI CIMATEC" 
         style="width: 150px; height: auto" 
         class="absolute left-1/2  -translate-x-1/2 cursor-pointer"
         />
    </ng-template>
    <ng-template #end>
    <div class="flex items-center gap-1"> 
        @if (nomeUsuario) {
            <!-- ÁREA DO USUÁRIO AGORA NÃO É MAIS CLICÁVEL -->
            <div class="flex items-center gap-2 mr-2"> 
                <p-avatar 
                    [label]="iniciaisUsuario" 
                    shape="circle" 
                    class="bg-sky-500 text-white font-bold">
                </p-avatar>
                <span class="font-bold hidden sm:block">{{ nomeUsuario }}</span>
            </div>
        }
    
        <p-button
            icon="pi pi-cog" 
            text 
            severity="secondary" 
            (click)="goToConfig()"
            class="text-white"
        />
        
        <p-button 
            icon="pi pi-question-circle" 
            text 
            severity="secondary" 
            (click)="goToInfo()"
            [ngClass]="{
                'bg-white/20 text-blue-300 rounded-md': paginaAtiva === 'info', 
                'text-white': paginaAtiva !== 'info'
            }"
        />

        <p-button icon="pi pi-bell" text severity="secondary" class="text-white"/>
        <p-button icon="pi pi-sign-out" text severity="secondary" (click)="logout()" class="text-white ml-2"/>
    </div>
    </ng-template>
    
</p-toolbar>

<!-- 
  Este modal continua aqui, "invisível", 
  esperando ser chamado pelo @ViewChild
-->
<app-config-user #configUserModal></app-config-user>

